body {
	font-family: 'Pixelify Sans', Arial, sans-serif;
	margin: 0;
	padding: 0;
	background-color: #ffffff;
	color: #333;
	cursor: url('../../images/darkness(1).png'), auto;  /* Add this line */
}


a:hover {
	cursor: url('../../images/darkness(2).png'), auto;  /* Add this line */
	text-decoration: underline;
	color: #000000;
}

/* Invert colors on hover */
::selection {
    filter: invert(1);
	background: rgb(255, 0, 0);
}

header {
    background-color: #000;
    color: #fff;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
	font-family: 'Pixelify Sans', Arial, Helvetica, sans-serif;
}

main {
    padding: 20px;
}

.description, .works, .media {
    margin-bottom: 20px;
}
.xxx {
	margin-bottom: 20px;
	color: #ffffff;
}
.three {
	flex: 1;

}

/* .media{
	flex: 1;
} */
h4{
	color: #fff;
}
h2 {
    color: #000;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 5px 0;
}

a {
    color: #1e90ff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
